{%extends 'layout.html'%}

<!-- HEAD -->
{% block title%}

{{city}}

{% endblock %}

<!-- BODY -->
{% block body%}

<div class="gamut">
    <div class="photo">
        <h1 hidden>{{W[]}}</h1>
        <img src="{{conditionURL}}" alt="condition illustration">
    </div>
    <div class="second">
        <div class="aqi">
            <h1>AQI: <br><br>{{W['aqi']}}</h1>
            <span class="aqi-hover">Air Quality Index [AQI] an indicator developed by government agencies to communicate to the public how polluted the air currently is or how polluted it is forecast to become</span>
        </div>
        <div class="weather">
            <h1>{{W['temperature']}} *C</h1>
        </div>
        <div class="sun">
            
        </div>
    </div>
</div>


<h1 hidden>{{ Location }}</h1>

<h1>{{ Location['city'] }}</h1>
<h3>State: {{Location['state']}}</h3>
<h3>Country: {{Location['country']}}</h3>

{% endblock %}