{% extends 'layout.html' %}

{% block title%}
Mumbai
{% endblock %}

{% block body %}

<div class="main">

    <div class="picture">
        <div class="vital">

            <div class="temp">
                <h1>21 *C</h1>
            </div>
            
            <div class="time">
                <h1>Time: <br> 16:43</h1>
            </div>

            <div class="cond">
                <h1>Sunny</h1>
            </div>

        </div>

        <img class="image" src="{{Img_URL}}" alt="Image for condition">
        
        <div class="warning">
            <marquee>
                Warning: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam est architecto aliquam. Quod tenetur accusantium numquam porro beatae possimus error.
            </marquee>
        </div>
    </div>

    <div class="first">

        <div class="dawn">
            <h1> Dawn <br> 6:03 </h1>
        </div>

        <div class="city">
            <h1 >Mumbai</h1>
        </div>

        <div class="dusk">
            <h1 > Dusk <br> 18:56 </h1>
        </div>

    </div>

    <div class="second">

        <div class="aqi">
            <h2>
                AQI: 54 <br> Safe
            </h2>
        </div>

        <div class="precise">
            <h2>Santa Cruz IMD Station, Mumbai, Maharashtra</h2>
        </div>

        <div class="uv">
            <h2>
                UV: 8/11 <br> Stay Indoors
            </h2>
        </div>

    </div>

    <div class="third">
        <div class="highT">
            <h2>
                High: <br> 38*C
            </h2>
        </div>

        <div class="lowT">
            <h2>
                Low: <br> 28*C
            </h2>
        </div>

        <div class="humidity">
            <h2>
                Humidity:<br> 63%
            </h2>
        </div>

        <div class="wind">
            <h2>Wind Speed:<br> 8 kmph</h2>
        </div>

        <div class="pressure">
            <h2>
                Pressure: <br> 1080 mb
            </h2>
        </div>
    </div>

    <div class="search">
        <div class="srch">
            <form>
                <input type="search">
                <input type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}
